<script setup>
import { computed, ref } from 'vue';
import { useTodoStore } from '../stores/todo';

const props = defineProps({
    todo: {
        type: Object,
        required: true
    }
});

const todo_store = useTodoStore();

function odvrsi_zavrsi(){
    todo_store.odvrsi_zavrsi(props.todo.tod_id);
}

function obrisi_task(){
    todo_store.obrisi_task(props.todo.tod_id);
}

function edituj_task(){
    todo_store.edit_task(props.todo.tod_id);
}

const tekst_dugmeta_zavrsen_nezavrsen = computed(() => props.todo.tod_done? "Odvrsi" : "Zavrsi");
</script>

<template>
    <div class="wrap">
        <span :class="{ zavrsen: todo.tod_done }">{{ todo.tod_task }}</span>
        <button @click ="odvrsi_zavrsi">{{tekst_dugmeta_zavrsen_nezavrsen}}</button>
        <button @click="obrisi_task">Obrisi task</button>
        <button @click="edituj_task" :class="{hidden: todo_store.isEditing}">Izmeni task</button>
    </div>
</template>

<style scoped>
.zavrsen{
    text-decoration: line-through;
}
.hidden{
    display: none;
}
</style>