<script setup>
import { computed, ref } from 'vue';
import { useTodoStore } from '../stores/todo';
import TodoItem from './TodoItem.vue';

const todo_store = useTodoStore();
const text_edita = ref('');
const novi_task = ref('');


function zavrsi_edit(){
    if(text_edita.value.trim() === ''){
        return;
    }

    todo_store.zavrsi_edit(text_edita.value);
    text_edita.value = '';
}



function dodaj_task(){
    if(novi_task.value.trim() === ''){
        return;
    }

    todo_store.dodaj_task(novi_task.value);
    novi_task.value = '';
}



</script>

<template>
    <div class="wrap">
        <div class="prvi-deo">
            <div class="edit-todo-a" v-if="todo_store.isEditing">
                <input type="text" v-model="text_edita"/>
                <button @click="zavrsi_edit">Zavrsi edit</button>
            </div>
            <div class="todaj-task" v-else>
                <input type="text" v-model="novi_task"/>
                <button @click="dodaj_task">Dodaj task</button>
            </div>
        </div>
        <div class="prikaz-todo-ova">
            <todo-item 
            v-for="(task, index) in todo_store.todos" :key="index"
            :todo="task"/>
        </div>
    </div>
</template>

<style scoped></style>